<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thiagourias.csgosmokes">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".tick64home" android:label="@string/label_tick64"
            android:screenOrientation="portrait">


        </activity>

        <activity android:name=".tick128home" android:label="@string/label_tick128"
            android:screenOrientation="portrait">
            
        </activity>

        <activity android:name=".paginaTick" android:label="@string/label_tick"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".creditos" android:label="@string/label_creditos"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".doacoes" android:label="@string/label_donate"
            android:screenOrientation="portrait">

        </activity>
    </application>

</manifest>